.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  isolation: isolate;

  width: 100%;

  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
}

.card span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */

  display: flex;
  align-items: flex-start;

  color: #121214;
}

.card p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  width: 24rem;

  color: rgba(0, 0, 0, 0.75);
}

.city {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.city span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}